:root {
/*    color-scheme: light dark;  */

    --max-page-width: 90em;

    --bg-color: #f2f4f8;
    --bg-color-dark: #242933;

    --surface: #fff;
    --surface-dark: #2e3440;

    --text-color: #4c566a;
    --text-color-dark: #eceff4;

    --btn-bg-color: #8fbcbb;
    --btn-bg-color-dark: #5e81ac;


    --box-shadow: light-dark(#b8c2d740, #0f111540) 0px 4px 6px, light-dark(#b8c2d71a, #0f11151a) 0px 5px 7px;

    --border-color: #d8dee9cc;
    --border-color-dark: #4c566a;
    --border-radius: 8px;

    --spacing: .25rem;

    --tw-translate-x: calc(calc(1/2*100%)*-1);
    --tw-translate-y: calc(calc(1/2*100%)*-1);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Rubik, serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    transition: color 400ms ease-in-out, background-color 400ms ease-in-out;
    scroll-behavior: smooth;
    color: light-dark(var(--text-color), var(--text-color-dark));
    background-color: light-dark(var(--bg-color), var(--bg-color-dark));
}

header {
    display: flex;
    position: fixed;
    top: 0;
    height: 3.5em;
    width: 100%;
    z-index: 20;
    background-color: transparent;
    transition: height 250ms ease-in-out, box-shadow 250ms ease-in-out, background-color 400ms ease-in-out;
    user-select: none;
    backdrop-filter: blur(4px);

}

header > div {
    max-width: var(--max-page-width);
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0 1.5em;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: justify;
    justify-content: space-between;
}

main {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

main > * {
    position: relative;
}

nav {
    background-color: light-dark(var(--surface), var(--surface-dark));
    box-shadow: var(--box-shadow);
    overflow: hidden;
    white-space: nowrap;
    transition: all 1s;
}

nav a.active {
    background-color: light-dark(var(--btn-bg-color), var(--btn-bg-color-dark));
}

footer {
    display: flex;
    height: 200px;
}

textarea {
    width: 100%;
    height: calc(100vh - 248px);
    border-radius: 8px;
    padding: 10px;
/*    box-shadow: 2px 2px 10px #181b1c inset;  */
    border: solid 1px;
    background-color: light-dark(var(--surface), var(--surface-dark));
}

textarea::placeholder {
    text-align: center;
    font-size: 18px;
}

select,
.button {
    padding: calc(var(--spacing)*2);
    min-width: 8rem;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    border: solid 1px light-dark(var(--border-color), var(--border-color-dark));
    background-color: light-dark(var(--btn-bg-color), var(--btn-bg-color-dark));
}

.button:hover {
    cursor: pointer;
}

.btn-try-out {
    padding: 8px;
    border: solid 1px light-dark(var(--border-color), var(--border-color-dark));
    border-radius: var(--border-radius);
    width: 200px;
    text-align: center
}

.btn-try-out:hover {
    box-shadow: var(--box-shadow);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li:hover {
    cursor: pointer;
    background-color: light-dark(var(--btn-bg-color), var(--btn-bg-color-dark));
}

.card {
    background-color: light-dark(var(--surface), var(--surface-dark));
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius) ;
    padding: calc(var(--spacing)*6);
    margin: 0;
}

textarea,
.border-full,
.border-top {
    border-color: light-dark(var(--border-color), var(--border-color-dark)) !important;
}

.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.surface {
    background-color: light-dark(var(--surface), var(--surface-dark));
}

.hover:hover {
    cursor: pointer;
    background-color: light-dark(var(--btn-bg-color), var(--btn-bg-color-dark));
}



.border-full {
    border: 1px solid;
}

.border-top {
    border-top: solid 1px
}

.border-radius {
    border-radius: var(--border-radius);
}

.shadow {
    box-shadow: var(--box-shadow);
}

.overflow-hidden {
    overflow: hidden;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.cursor-pointer {
    cursor: pointer;
}

.top-0 {
    top: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.align-items-center {
    align-items: center;
}

.gap-1 {
    gap: calc(var(--spacing)*1);
}

.gap-2 {
    gap: calc(var(--spacing)*2);
}

.gap-3 {
    gap: calc(var(--spacing)*3);
}

.gap-4 {
    gap: calc(var(--spacing)*4);
}

.p-1 {
    padding: calc(var(--spacing)*1);
}
.p-2 {
    padding: calc(var(--spacing)*2);
}
.p-3 {
    padding: calc(var(--spacing)*3);
}
.p-4 {
    padding: calc(var(--spacing)*4);
}
.p-5 {
    padding: calc(var(--spacing)*5);
}
.p-6 {
    padding: calc(var(--spacing)*6);
}

.pl-1 {
    padding-left: calc(var(--spacing)*1);
}
.pl-2 {
    padding-left: calc(var(--spacing)*2);
}
.pl-3 {
    padding-left: calc(var(--spacing)*3);
}
.pl-4 {
    padding-left: calc(var(--spacing)*4);
}
.pl-5 {
    padding-left: calc(var(--spacing)*5);
}
.pl-6 {
    padding-left: calc(var(--spacing)*6);
}

.pr-1 {
    padding-right: calc(var(--spacing)*1);
}
.pr-2 {
    padding-right: calc(var(--spacing)*2);
}
.pr-3 {
    padding-right: calc(var(--spacing)*3);
}
.pr-4 {
    padding-right: calc(var(--spacing)*4);
}
.pr-5 {
    padding-right: calc(var(--spacing)*5);
}
.pr-6 {
    padding-right: calc(var(--spacing)*6);
}

.pt-1 {
    padding-top: calc(var(--spacing)*1);
}
.pt-2 {
    padding-top: calc(var(--spacing)*2);
}
.pt-3 {
    padding-top: calc(var(--spacing)*3);
}
.pt-4 {
    padding-top: calc(var(--spacing)*4);
}
.pt-5 {
    padding-top: calc(var(--spacing)*5);
}
.pt-6 {
    padding-top: calc(var(--spacing)*6);
}

.pb-1 {
    padding-bottom: calc(var(--spacing)*1);
}
.pb-2 {
    padding-bottom: calc(var(--spacing)*2);
}
.pb-3 {
    padding-bottom: calc(var(--spacing)*3);
}
.pb-4 {
    padding-bottom: calc(var(--spacing)*4);
}
.pb-5 {
    padding-bottom: calc(var(--spacing)*5);
}
.pb-6 {
    padding-bottom: calc(var(--spacing)*6);
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.w-16 {
    width: calc(var(--spacing)*16);
}

.h-8 {
    height: calc(var(--spacing)*8);
}

.inset-0 {
    inset: calc(var(--spacing)*0);
}

.\[mask-image\:radial-gradient\(transparent\,white\)\] {
    -webkit-mask-image:radial-gradient(#0000,#fff);
    mask-image:radial-gradient(#0000,#fff)
}

.z-0 {
    z-index: 0;
}

.z-20 {
    z-index: 20;
}

.left-1\/4 {
    left: 25%;
}

.-top-1\/4 {
    top: -25%;
}

.-translate-x-1\/2 {
    --tw-translate-x: calc(calc(1/2*100%)*-1);
}

.-translate-y-1\/2 {
    --tw-translate-y: calc(calc(1/2*100%)*-1);
}

.-translate-y-1\/2, .-translate-y-2 {
    translate: var(--tw-translate-x)var(--tw-translate-y);
}
.-translate-x-1\/2, .-translate-x-40 {
    translate: var(--tw-translate-x)var(--tw-translate-y);
}
















/* HTML: <div class="loader"></div> */
.loader {
    width: 4px;
    color: light-dark(var(--text-color), var(--text-color-dark));;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow:
            19px -19px 0 0, 38px -19px 0 0, 57px -19px 0 0,
            19px 0     0 5px, 38px 0     0 5px, 57px 0     0 5px,
            19px 19px  0 0, 38px 19px  0 0, 57px 19px  0 0;
    transform: translateX(-38px);
    animation: l26 2s infinite linear;
}
@keyframes l26 {
    12.5% {box-shadow:
            19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 5px,
            19px 0     0 5px, 38px 0     0 0px, 57px 0     0 5px,
            19px 19px  0 0px, 38px 19px  0 0px, 57px 19px  0 0px}
    25%   {box-shadow:
            19px -19px 0 5px, 38px -19px 0 0px, 57px -19px 0 5px,
            19px 0     0 0px, 38px 0     0 0px, 57px 0     0 0px,
            19px 19px  0 0px, 38px 19px  0 5px, 57px 19px  0 0px}
    50%   {box-shadow:
            19px -19px 0 5px, 38px -19px 0 5px, 57px -19px 0 0px,
            19px 0     0 0px, 38px 0     0 0px, 57px 0     0 0px,
            19px 19px  0 0px, 38px 19px  0 0px, 57px 19px  0 5px}
    62.5% {box-shadow:
            19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 0px,
            19px 0     0 5px, 38px 0     0 0px, 57px 0     0 0px,
            19px 19px  0 0px, 38px 19px  0 5px, 57px 19px  0 5px}
    75%   {box-shadow:
            19px -19px 0 0px, 38px -19px 0 5px, 57px -19px 0 0px,
            19px 0     0 0px, 38px 0     0 0px, 57px 0     0 5px,
            19px 19px  0 0px, 38px 19px  0 0px, 57px 19px  0 5px}
    87.5% {box-shadow:
            19px -19px 0 0px, 38px -19px 0 5px, 57px -19px 0 0px,
            19px 0     0 0px, 38px 0     0 5px, 57px 0     0 0px,
            19px 19px  0 5px, 38px 19px  0 0px, 57px 19px  0 0px}
}











svg {
    width:100%;
}
.arrow {
    stroke-width: .3px;
    stroke:yellow;
}
.topball {
    animation: ball 1.5s ease-in-out;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-delay: 0.3s;
    cursor:pointer;
}

.wave {
    animation: wave 3s linear;
    animation-iteration-count:infinite;
    fill: #4478e3;
}
.drop {
    fill: transparent;
    animation: drop 5s ease infinite normal;
    stroke: #4478e3;
    stroke-width:0.5;
    opacity:.6;
    transform: translateY(80%);
}
.drop1 {
    transform-origin: 20px 3px;
}
.drop2 {
    animation-delay: 3s;
    animation-duration:3s;
    transform-origin: 25px 3px;
}
.drop3 {
    animation-delay: -2s;
    animation-duration:3.4s;
    transform-origin: 16px 3px;
}
.gooeff {
    filter: url(#goo);
}
#wave2 {
    animation-duration:5s;
    animation-direction: reverse;
    opacity: .6
}
#wave3 {
    animation-duration: 7s;
    opacity:.3;
}
@keyframes drop {
    0% {
        transform: translateY(80%);
        opacity:.6;
    }
    80% {
        transform: translateY(80%);
        opacity:.6;
    }
    90% {
        transform: translateY(10%) ;
        opacity:.6;
    }
    100% {
        transform: translateY(0%) scale(1.5);
        stroke-width:0.2;
        opacity:0;
    }
}
@keyframes wave {
    to {transform: translateX(-100%);}
}
@keyframes ball {
    to {transform: translateY(20%);}
}



.icon-develop {
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.icon-develop .gear-b {
    animation: rotate-reverse 6s;
}
.icon-develop .gear-s {
    animation: rotate 12s linear infinite;
}
.icon-develop #XMLID_87_,
.icon-develop #XMLID_85_,
.icon-develop #XMLID_83_ {
    animation: twinkle 3s ease-in-out infinite;
}
.icon-develop #XMLID_85_ {
    animation-delay: 0.4s;
}
.icon-develop #XMLID_83_ {
    animation-delay: 0.6s;
}
.icon-develop .line-t,
.icon-develop .line-m,
.icon-develop .line-b {
    animation: shrink 1.8s ease-in-out infinite;
}
.icon-develop .line-m {
    animation-delay: 0.3s;
}
.icon-develop .line-b {
    animation-delay: 0.6s;
}
.icon-develop .code-letter_o {
    animation: typingO 3s linear infinite;
}
.icon-develop .code-letter_d {
    animation: typingD 3s linear infinite;
}
.icon-develop .code-letter_e {
    animation: typingE 3s linear infinite;
}
@keyframes typingE {
    20.1%, 80% {
        fill: transparent;
    }
    20%, 80.1% {
        fill: #fff;
    }
}
@keyframes typingD {
    30.1%, 70% {
        fill: transparent;
    }
    30%, 70.1% {
        fill: #fff;
    }
}
@keyframes typingO {
    40.1%, 60% {
        fill: transparent;
    }
    40%, 60.1% {
        fill: #fff;
    }
}
@keyframes shrink {
    50% {
        transform: scaleX(0.3);
    }
}

@keyframes twinkle {
    0%, 50%, 100% {
        transform: scale(1);
    }
    25%, 75% {
        transform: scale(1.6);
    }
}